<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<link rel="sortcut icon" href="../wwwroot/ico.png" type="image/png"/>
  	<title> RBA ELEVADORES - Política de Privacidade APP  </title>
</head>
<body style="background: #132955">

	<div class="container-fluid" style="position:absolute;">
    	<img src="Logo.png" width="110" height="110" class="img-fluid rounded" >
  	</div>

  	<br>

	<div class="container-fluid">
		<div class="row align-items-center">
    		<div class="col" align="center">
    			<font size="4" face="Helvetica" color="white">
					<strong> POLÍTICA DE PRIVACIDADE </strong>
				</font>
    		</div>
    	</div>
  	</div>

  	<br>
  	<br>
  	<br>
  	<br>

	<div class="container border border-light rounded" align="center">

		<br>

	    <div class="row">
			<div class="col" style="text-align: left;">

				<font size="2" face="Georgia" color="white">
					Esta política de privacidade rege o uso do aplicativo de software RBA ELEVADORES para dispositivos móveis criado pela RBA ELEVADORES. O Aplicativo é um facilitador para a comunicação com a empresa. Basta baixar e fazer o cadastro para ter acesso aos seus boletos e pagamentos, abrir chamados direto com a empresa, consultar arquivos e outras funções como suporte online. Um APP leve, indispensável para você, cliente RBA ELEVADORES! 
				</font>

				<br>
				<br>
				<br>

				<font size="3" face="Helvetica" color="white">
					<strong> QUAIS INFORMAÇÕES O APLICATIVO OBTÉM E COMO É UTILIZADO? </strong>
				</font>		

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					<strong> Informações fornecidas pelo usuário </strong>
					<br>
					O Aplicativo obtém as informações que você fornece ao baixar e registrar o Aplicativo.  
					Quando você usa o Aplicativo, você geralmente fornece seu CPF/CNPJ e seu código do contrato com a empresa RBA ELEVADORES. Informações que você nos fornece quando nos contata para obter ajuda.  
					Também podemos usar as informações que você nos forneceu para entrar em contato de tempos em tempos para fornecer-lhe informações importantes, avisos necessários e promoções de marketing.
				</font>		
 
				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					<strong> Informações coletadas automaticamente </strong>
					<br>
					Além disso, o Aplicativo pode coletar certas informações automaticamente, incluindo, mas não se limitando a, o tipo de dispositivo móvel que você usa, o ID exclusivo do dispositivo de seus dispositivos móveis, o endereço IP do seu dispositivo móvel, o sistema operacional móvel, o tipo de navegadores de Internet móveis que você usa e informações sobre a maneira como você usa o Aplicativo.
				</font>	

				<br>
				<br>
				<br>

				<font size="3" face="Helvetica" color="white">
					<strong> O APLICATIVO COLETA INFORMAÇÕES PRECISAS DE LOCALIZAÇÃO EM TEMPO REAL DO DISPOSITIVO? </strong>
				</font>		

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					Este Aplicativo coleta informações precisas sobre a localização do seu dispositivo móvel para abrir um chamado na empresa RBA ELEVADORES.
				</font>	
  
				<br>
				<br>
				<br>

				<font size="3" face="Helvetica" color="white">
					<strong> QUAIS SÃO MEUS DIREITOS DE CANCELAMENTO? </strong>
				</font>	

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					Você pode interromper facilmente toda a coleta de informações pelo Aplicativo desinstalando o mesmo. Você pode usar os processos padrão de desinstalação, pois pode estar disponível como parte do seu dispositivo móvel ou através do marketplace ou rede de aplicativos móveis. Você também pode solicitar o cancelamento pelo e-mail comercial@rbaelevadores.com.br.
				</font>	
 
				<br>
				<br>
				<br>

				<font size="3" face="Helvetica" color="white">
					<strong> POLÍTICA DE RETENÇÃO DE DADOS, GERENCIAMENTO DE SUAS INFORMAÇÕES </strong>
				</font>	

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					Reteremos os dados fornecidos pelo Usuário enquanto você usar o Aplicativo e por um tempo razoável posteriormente. Reteremos informações coletadas automaticamente por até 24 meses e, posteriormente, poderemos armazená-la em conjunto. Se você quiser que excluímos os Dados Fornecidos pelo Usuário fornecidos através do Aplicativo, entre em contato conosco comercial@rbaelevadores.com.br e responderemos em um tempo razoável. Por favor, note que alguns ou todos os Dados Fornecidos pelo Usuário podem ser necessários para que o Aplicativo funcione corretamente.
				</font>	
 
				<br>
				<br>
				<br>
				
				<font size="3" face="Helvetica" color="white">
					<strong> CRIANÇAS </strong>
				</font>	

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					Não usamos o Aplicativo para solicitar dados conscientemente de ou comercializar para crianças menores de 13 anos. Se um pai ou responsável tomar conhecimento de que seu filho nos forneceu informações sem o seu consentimento, ele ou ela deve entrar em contato conosco comercial@rbaelevadores.com.br. Vamos excluir essas informações de nossos arquivos dentro de um tempo razoável.
				</font>	
 
				<br>
				<br>
				<br>
				
				<font size="3" face="Helvetica" color="white">
					<strong> SEGURANÇA </strong>
				</font>	

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					Estamos preocupados em proteger a confidencialidade de suas informações. Fornecemos salvaguardas físicas, eletrônicas e processuais para proteger as informações que processamos e mantemos. Por exemplo, limitamos o acesso a essas informações a funcionários autorizados e contratados que precisam conhecer essas informações para operar, desenvolver ou melhorar nossa Aplicação. Por favor, esteja ciente de que, embora nos esforcemos em fornecer segurança razoável para informações que processamos e mantemos, nenhum sistema de segurança pode evitar todas as possíveis violações de segurança.
				</font>	
  
				<br>
				<br>
				<br>
				
				<font size="3" face="Helvetica" color="white">
					<strong> SEU CONSENTIMENTO </strong>
				</font>	

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					Ao usar o Aplicativo, você está consentindo com o nosso processamento de suas informações conforme estabelecido nesta Política de Privacidade agora e conforme alterado por nós. "Processamento", significa usar cookies em um computador/dispositivo portátil ou usar ou tocar informações de qualquer forma, incluindo, mas não se limitando a, coletar, armazenar, excluir, usar, combinar e divulgar informações, todas as quais atividades ocorrerão no Brasil. Se você residir fora do Brasil, suas informações serão transferidas, processadas e armazenadas lá sob os padrões de privacidade do Brasil.
				</font>	

				<br>
				<br>
				<br>
				
				<font size="3" face="Helvetica" color="white">
					<strong> ENTRE EM CONTATO CONOSCO </strong>
				</font>	

				<br>
				<br>

				<font size="2" face="Georgia" color="white">
					Se você tiver alguma dúvida sobre privacidade ao usar o Aplicativo ou tiver dúvidas sobre nossas práticas, entre em contato conosco por e-mail comercial@rbaelevadores.com.br.
				</font>	

				<br>
				<br>

			</div>
	    </div>

  	</div>

  	<br>
    <br>
    <br>

</body>
</html>